name: 电视家

on:
    # push:
    #     branches:
    #         - main
    schedule:
        - cron: " 0 * * * *"
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 10.x
              uses: actions/setup-node@v1
              with:
                  node-version: 10.x
            - name: npm install
              run: |
                  npm install
            - name: "运行 【电视家】"
              run: |
                  node dsj.js
              env:
                  SY_SIGNHEADER_DSJ: ${{ secrets.SY_SIGNHEADER_DSJ }}
                  DRAWAL_DSJ: ${{ secrets.DRAWAL_DSJ }}
                  SCKEY: ${{ secrets.SCKEY }}
                  BARK_PUSH: ${{ secrets.BARK_PUSH }}
                  PUSH_KEY: ${{ secrets.PUSH_KEY }}
                  TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
                  TG_USER_ID: ${{ secrets.TG_USER_ID }}
                  EFORK: ${{ secrets.EFORK }}
